%fieldset
  %legend
    %span Birth Weight
  = f.label :value, "Birth Weight"
  = f.text_field :value, :style => "width: 60px"
  = f.select :units, options_for_select(["Grams", "Kilograms"], @birth_weight.units)

.field_divider
  %span Please cite your sources

%fieldset
  %legend
    %span Please cite your sources
  = f.label :citation, "Reference"
  = f.text_field :citation
  = f.label :context
  = f.text_field :context
  