%table#speciestable
  %thead
    %tr
      %th Latin Name
      %th{:class => "{sorter: 'digit'}"} Lifespan
      %th{:class => "{sorter: 'digit'}"} Birth Weight
      %th{:class => "{sorter: 'digit'}"} Adult Weight
      %th{:class => "{sorter: 'digit'}"} Litter Size
  %tbody
    - @species.each do |species|
      %tr
        %td.name= link_to species.name, species_path(species.id)
        %td= lifespan_with_units(species)
        %td= birth_weight_with_units(species)
        %td= adult_weight_with_units(species)
        %td= litter_size(species)

= will_paginate @species, :params => {:controller => :species, :action => :index}
