- select_id = "taxonomic_selector_#{rank}"
- selected_dropdown = selected rescue nil
- options = children.map{|c| [c.scientific_name, c.id] }.unshift(['All', nil])

%li.taxonimic_selector_item{:id => "taxonomic_selector_rank_#{rank}", :class => "rank_#{rank}"}
  = label_tag select_id, rank_in_words
  %br
  = select_tag select_id, options_for_select(options, selected_dropdown)
