= render :partial => "/shared/header", :locals => { :title => "Welcome to Anage", :subtitle => "Please browse the species below.", :flash => flash }
= render :partial => "/taxonomy_navigation/dropdowns"

%table
  %tr
    %th Common Name
    %th Options
  - @species.each do |species|
    %tr
      %td= link_to species.name, species
      %td
        = link_to "Edit", edit_species_path(:id => species.id)

= link_to "New Species", new_species_path, :class => "button"
