= render :partial => "/shared/header", :locals => { :title => @species.name, :subtitle => "", :flash => flash }

#scientific_name
  %span.detail Scientific Name
  %h2= @species.name

%table#longevity
  %thead
    %tr
      %th Lifespan
      %th Citation
      - if logged_in? && current_user.karma.levels.bronze?
        %th Actions
  %tbody
    - @species.lifespans.each do |lifespan|
      %tr
        %td.lifespan= lifespan
        %td.citation  [citation]
        %td.actions   
          = link_to 'edit', edit_lifespan_path(@species, lifespan)
          =# link_to 'delete'

%table#adult_weights
  %thead
    %tr
      %th Adult Weight
      %th Action
  %tbody
    - @species.adult_weights.each do |adult_weight|
      %tr
        %td.adult_weight= adult_weight.measure
        %td.actions   
          = link_to   'edit'   ,edit_adult_weight_path(@species, adult_weight)     ,:id => "edit_adult_weight_#{adult_weight.id}"
          = button_to 'delete' ,destroy_adult_weight_path(@species, adult_weight)  ,:id => "delete_adult_weight_#{adult_weight.id}",  :method => :delete

%table#litter_sizes
  %thead
    %tr
      %th Litter Size
      %th Action
  %tbody
    - @species.litter_sizes.each do |litter_size|
      %tr
        %td.litter_size= litter_size.measure
        %td.actions   
          = link_to   'edit'  ,edit_litter_size_path(@species, litter_size)    ,:id => "edit_litter_size_#{litter_size.id}"
          = button_to 'delete',destroy_litter_size_path(@species, litter_size) ,:id => "delete_litter_size_#{litter_size.id}",  :method => :delete

= link_to 'Add an Adult Weight'     ,new_adult_weight_path(@species) ,:class => "button"
= link_to 'Add Lifespan Annotation' ,new_lifespan_path(@species)     ,:class => "button"
= link_to 'Add Litter Size'         ,new_litter_size_path(@species)  ,:class => "button"

