%h1#scientific_name= @species.name

%table#species
  %thead
    %tr
      %td
      %th Measurement
      %th
      %th Context
      %th Citation
      %th User
  %tbody
    - @species.lifespans.each_with_index do |lifespan, i|
      %tr
        -if i == 0
          %th{:rowspan => @species.lifespans.length} Lifespan
        %td.lifespan
          = lifespan
        %td.actions
          / - if lifespan.created_by == current_user
          /   = button_to "", destroy_lifespan_path(@species, lifespan), :id => "delete_lifespan_#{lifespan.id}", :method => :delete, :alt => "Delete Lifespan", :class => 'delete_button'
        %td.context= lifespan.context
        %td.citation= lifespan.citation
        %td.User
          = "#{lifespan.created_by} [#{lifespan.created_by.karma}]" unless lifespan.created_by.nil?
  %tbody
    - @species.birth_weights.each_with_index do |birth_weight, i|
      %tr
        -if i == 0
          %th{:rowspan => @species.birth_weights.length} Birth Weight
        %td.birth_weight
          = birth_weight
        %td.actions
          / - if birth_weight.created_by == current_user
          /   = button_to "", destroy_birth_weight_path(@species, birth_weight), :id => "delete_birth_weight_#{birth_weight.id}", :method => :delete, :alt => "Delete Birth Weight", :class => 'delete_button'
        %td.context= birth_weight.context
        %td.citation= birth_weight.citation
        %td.User
          = "#{birth_weight.created_by} [#{birth_weight.created_by.karma}]" unless birth_weight.created_by.nil?
  %tbody      
    - @species.adult_weights.each_with_index do |adult_weight, i|
      %tr
        -if i == 0
          %th{:rowspan => @species.adult_weights.length} Adult Weight
        %td.adult_weight
          = adult_weight
        %td.actions
          / - if adult_weight.created_by == current_user
          /   = button_to "", destroy_adult_weight_path(@species, adult_weight), :id => "delete_adult_weight_#{adult_weight.id}", :method => :delete, :alt => "Delete Adult Weight", :class => 'delete_button'
        %td.context= adult_weight.context
        %td.citation= adult_weight.citation
        %td.User
          = "#{adult_weight.created_by} [#{adult_weight.created_by.karma}]" unless adult_weight.created_by.nil?
  %tbody      
    - @species.litter_sizes.each_with_index do |litter_size, i|
      %tr
        -if i == 0
          %th{:rowspan => @species.litter_sizes.length} Litter Size
        %td.litter_size
          = litter_size
        %td.actions
          / - if litter_size.created_by == current_user
          /   = button_to "", destroy_litter_size_path(@species, litter_size), :id => "delete_litter_size_#{litter_size.id}", :method => :delete, :alt => "Delete Litter Size", :class => 'delete_button'
        %td.context= litter_size.context
        %td.citation= litter_size.citation
        %td.User
          = "#{litter_size.created_by} [#{litter_size.created_by.karma}]" unless litter_size.created_by.nil?

- if current_user
  = link_to 'Add Lifespan', new_lifespan_path(@species), :class => "button"
  = link_to 'Add Adult Weight', new_adult_weight_path(@species), :class => "button"
  = link_to 'Add Birth Weight', new_birth_weight_path(@species), :class => "button"
  = link_to 'Add Litter Size', new_litter_size_path(@species), :class => "button"