%fieldset
  %legend
    %span Personal Information
  = form.label :name, "Full Name"
  = form.text_field :name
  = form.label :email
  = form.text_field :email

-# This whole field divider business, semantically, should be handled by the
-# <legend>. However, most browsers have serious issues with styling legends
-# so we're going to cheat.
.field_divider
  %span Sign Up with a Password

%fieldset
  %legend
    %span Sign Up with a Password
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password, :value => ""
  = form.label :password_confirmation, "Confirm password"
  = form.password_field :password_confirmation

/ .field_divider
/   %span or OpenId
/   
/ %fieldset
/   %legend
/     %span or OpenID
/   = form.label :openid_identifier, "OpenID <span class='optional'>(optional)</span>"
/   = form.text_field :openid_identifier
