#uiheader
  %h2.logo= link_to "LifeViz", root_path
  #options
    #login-buttons
      %h3
        - if logged_in?
          Karma:
          - if current_user.karma.total 
            %strong.red
              = current_user.karma.total
          - if 10 <= current_user.karma.total
            Contributor:
            %span.green
              = link_to current_user.name.to_s, edit_user_path(current_user) 
          - else
            User:
            %span.blue
              = link_to current_user.name.to_s, edit_user_path(current_user) 
          = link_to "Log out", user_session_path, :method => :delete
        - else
          = link_to "Contribute", '/contribute'
        
#flash
  = render :partial => "/shared/flash", :locals => { :flash => flash }
