#user_control
  -if current_user
    %h4= "Logged in as #{current_user.email} "
    = link_to "Settings", edit_user_path(current_user), :class => "button"
    = link_to "Log out", user_session_path, :method => :delete, :class => "button"
  - else
    #login-buttons
      = link_to "Log in", "#", :id => "login_button", :class => "button"
      = link_to "Sign up", new_user_path, :class => "button"
    #login.clearfix
      - form_tag user_session_path, :method => :post do
        .form-row.clearfix
          .email
            = label_tag 'user[email]', 'Email'
            %br
            = text_field_tag 'user[email]', '', :class => 'text'
          .password
            = label_tag 'user[password]', 'Password'
            %br
            = password_field_tag 'user[password]', '', :class => 'text'
          .openid
            = label_tag 'user[openid_identifier]', 'OpenID'
            %br
            = text_field_tag 'user[openid_identifier]', '', :class => 'text'
        .form-row.clearfix
          .remember-me
            = check_box_tag 'user[remember_me]'
            %br
            = label_tag 'user[remember_me]', 'Remember me'
          .submit
            .openid_button= link_to "OpenID", "#", :class => "button"
            .regular_button= link_to "Standard Login", "#", :class => "button"
            
            %button{:type => "submit", :name => "commit", :value => "Login", :class => 'button positive'} Login
            = link_to "Cancel", "#", :id => "login_cancel_button", :class => "button"
          