%table#taxatable
  %thead
    %tr
    %h2 Original Data
    %tr
      %th.hidden ID
      %th.hidden Select
      %th.hidden Hover
      %th.hidden Name
      %th= @children.first.rank_in_words if !@children.empty?
      %th{:class => "{sorter: 'digit'}"} Lifespan, days
      %th{:class => "{sorter: 'digit'}"} Birth Weight, g
      %th{:class => "{sorter: 'digit'}"} Adult Weight, g
      %th{:class => "{sorter: 'digit'}"} Litter Size
  %tbody
    - if @children.empty?
      %tr
        %td{:cols => 6} Taxa not available.
    -else
      - @children.each do |taxon|
        %tr.taxon{:taxon_id => taxon.id}
          %td.hidden.id= taxon.id
          %td.hidden.select
          %td.hidden.hover
          %td.hidden.name= taxon.name
          - if taxon.rank_in_words.downcase == "genus"
            %td.name= link_to taxon.name, genus_path(:genus => taxon.name)
          - else
            %td.name= link_to taxon.name, taxon_path(:rank => taxon.rank_in_words.downcase, :taxon => taxon.name)
          %td= sprintf("%2.2f", taxon.statistics[:average_lifespan]) if taxon.statistics[:average_lifespan]
          %td= sprintf("%2.2f", taxon.statistics[:average_birth_weight]) if taxon.statistics[:average_birth_weight]
          %td= sprintf("%2.2f", taxon.statistics[:average_adult_weight]) if taxon.statistics[:average_adult_weight]
          %td= sprintf("%2.2f", taxon.statistics[:average_litter_size]) if taxon.statistics[:average_litter_size]
%table.taxatable
  %thead
    %tr
    %h2 Average
    %tr
      %th.hidden ID
      %th.hidden Select
      %th.hidden Hover
      %th.hidden Name
      %th= @children.first.rank_in_words if !@children.empty?
      %th{:class => "{sorter: 'digit'}"} Lifespan, days
      %th{:class => "{sorter: 'digit'}"} Birth Weight, g
      %th{:class => "{sorter: 'digit'}"} Adult Weight, g
      %th{:class => "{sorter: 'digit'}"} Litter Size
  %tbody
    - if @children.empty?
      %tr 
        %td{:cols => 6} Taxa not available.
    -else
      - @children.each do |taxon|
        %tr.taxon{:taxon_id => taxon.id}
          %td.hidden.id= taxon.id
          %td.hidden.select
          %td.hidden.hover
          %td.hidden.name= taxon.name
          - if taxon.rank_in_words.downcase == "genus"
            %td.name= link_to taxon.name, genus_path(:genus => taxon.name)
          - else
            %td.name= link_to taxon.name, taxon_path(:rank => taxon.rank_in_words.downcase, :taxon => taxon.name)
          %td= taxon.statistics.average_lifespan
          %td= taxon.statistics.average_birth_weight
          %td= taxon.statistics.average_adult_weight
          %td= taxon.statistics.average_litter_size
%table.taxatable
  %thead
    %tr
    %h2 Minimum
    %tr
      %th.hidden ID
      %th.hidden Select
      %th.hidden Hover
      %th.hidden Name
      %th= @children.first.rank_in_words if !@children.empty?
      %th{:class => "{sorter: 'digit'}"} Lifespan, days
      %th{:class => "{sorter: 'digit'}"} Birth Weight, g
      %th{:class => "{sorter: 'digit'}"} Adult Weight, g
      %th{:class => "{sorter: 'digit'}"} Litter Size
  %tbody
    - if @children.empty?
      %tr 
        %td{:cols => 6} Taxa not available.
    -else
      - @children.each do |taxon|
        %tr.taxon{:taxon_id => taxon.id}
          %td.hidden.id= taxon.id
          %td.hidden.select
          %td.hidden.hover
          %td.hidden.name= taxon.name
          - if taxon.rank_in_words.downcase == "genus"
            %td.name= link_to taxon.name, genus_path(:genus => taxon.name)
          - else
            %td.name= link_to taxon.name, taxon_path(:rank => taxon.rank_in_words.downcase, :taxon => taxon.name)
          %td= taxon.statistics.minimum_lifespan
          %td= taxon.statistics.minimum_birth_weight
          %td= taxon.statistics.minimum_adult_weight
          %td= taxon.statistics.minimum_litter_size
%table.taxatable
  %thead
    %tr
    %h2 Maximum
    %tr
      %th.hidden ID
      %th.hidden Select
      %th.hidden Hover
      %th.hidden Name
      %th= @children.first.rank_in_words if !@children.empty?
      %th{:class => "{sorter: 'digit'}"} Lifespan, days
      %th{:class => "{sorter: 'digit'}"} Birth Weight, g
      %th{:class => "{sorter: 'digit'}"} Adult Weight, g
      %th{:class => "{sorter: 'digit'}"} Litter Size
  %tbody
    - if @children.empty?
      %tr 
        %td{:cols => 6} Taxa not available.
    -else
      - @children.each do |taxon|
        %tr.taxon{:taxon_id => taxon.id}
          %td.hidden.id= taxon.id
          %td.hidden.select
          %td.hidden.hover
          %td.hidden.name= taxon.name
          - if taxon.rank_in_words.downcase == "genus"
            %td.name= link_to taxon.name, genus_path(:genus => taxon.name)
          - else
            %td.name= link_to taxon.name, taxon_path(:rank => taxon.rank_in_words.downcase, :taxon => taxon.name)
          %td= taxon.statistics.maximum_lifespan
          %td= taxon.statistics.maximum_birth_weight
          %td= taxon.statistics.maximum_adult_weight
          %td= taxon.statistics.maximum_litter_size
%table.taxatable
  %thead
    %tr
    %h2 Standard Deviation
    %tr
      %th.hidden ID
      %th.hidden Select
      %th.hidden Hover
      %th.hidden Name
      %th= @children.first.rank_in_words if !@children.empty?
      %th{:class => "{sorter: 'digit'}"} Lifespan, days
      %th{:class => "{sorter: 'digit'}"} Birth Weight, g
      %th{:class => "{sorter: 'digit'}"} Adult Weight, g
      %th{:class => "{sorter: 'digit'}"} Litter Size
  %tbody
    - if @children.empty?
      %tr 
        %td{:cols => 6} Taxa not available.
    -else
      - @children.each do |taxon|
        %tr.taxon{:taxon_id => taxon.id}
          %td.hidden.id= taxon.id
          %td.hidden.select
          %td.hidden.hover
          %td.hidden.name= taxon.name
          - if taxon.rank_in_words.downcase == "genus"
            %td.name= link_to taxon.name, genus_path(:genus => taxon.name)
          - else
            %td.name= link_to taxon.name, taxon_path(:rank => taxon.rank_in_words.downcase, :taxon => taxon.name)
          %td= taxon.statistics.standard_deviation_lifespan
          %td= taxon.statistics.standard_deviation_birth_weight
          %td= taxon.statistics.standard_deviation_adult_weight
          %td= taxon.statistics.standard_deviation_litter_size
