%h1=@taxon.name
%ol.breadcrumbs
  = list_of @parents do |p|
    = link_to p.name, taxon_path(:rank => p.rank_in_words.downcase, :taxon => p.name)
  %li.current= @taxon.name
#data
  - if @children.length > 1
    = render :partial => "chart"
    #graph{:taxon_id => @taxon.id}
  - else
    #no-graph
      %p Sorry, there isn't enough data to show the comparison chart.
  #taxa
    = render :partial => "table"
