#taxonomic_selector.clearfix
  .rank
    = label_tag 'kingdom'
    = select_tag('kingdom', dropdown_options(Taxon.kingdoms))
  .rank
    = label_tag 'phylum'
    = select_tag 'phylum', dropdown_options, :disabled => true
  .rank
    = label_tag 'class'
    = select_tag 'class', dropdown_options, :disabled => true
  .rank
    = label_tag 'order'
    = select_tag 'order', dropdown_options, :disabled => true
  .rank
    = label_tag 'family'
    = select_tag 'family', dropdown_options, :disabled => true
  .rank
    = label_tag 'genus'
    = select_tag 'genus', dropdown_options, :disabled => true
  .rank
    = label_tag 'species'
    = select_tag 'species', dropdown_options, :disabled => true
