#taxonomic_selector.clearfix
  = select_tag('kingdom', options_from_collection_for_select(Taxon.kingdoms, 'id', 'name'))
  = select_tag 'phylum'
  = select_tag 'class'
  = select_tag 'order'
  = select_tag 'family'
  = select_tag 'genus'
  = select_tag 'species'
