#taxonomic_selector.clearfix
  .rank
    = label_tag 'kingdom'
    = select_tag('kingdom', dropdown_options(Taxon.kingdoms), :id => 'kingdom-dropdown')
  - %w( phylum class order family genus species ).each do |rank|
    .rank
      = label_tag rank
      = select_tag rank, dropdown_options, :disabled => true, :id => "#{rank}-dropdown"
