!!!
%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery-ui.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"
    = javascript_include_tag  'protovis-r3.2', 'jquery.tablesorter', 'application', 'jquery.coolinput', 'jquery.address'
    = yield :include_javascript
    %script{:type => 'text/javascript'}
      = yield :javascript
  %body
    #topbar

    #main
      = render :partial => "/shared/header"
      = yield
      = render :partial => "/shared/footer"
    
    #backgroundGray
    
    #bottom_presence
      = render :partial => "shared/karma"